body {
  margin: 0;
  padding: 0;
  font-size: 18px;
  color: #000010;
  background: #000010;
}

.container {
  max-width: 390px;
}

.inner {
  user-select: none;
  display: flex;
  padding-left: 20px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 200px 200px 200px;
}

.img {
  padding-left: 5px;
  width: 120px;
  user-select: none;

}

.btn {
  display: flex;
  padding: 7px 31px;
  border: none;
  background: rgb(248, 168, 24);
  border-radius: 10px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 700;
  transition: background .2s linear;
  user-select: none;
}

.btn:hover {
  background: #4169E1;
}

.counter {
  display: flex;
  padding-right: 20px;
}

.counter__btn_minus {
  display: inline-block;
  width: 40px;
  height: 25px;
  border: none;
  background: rgb(248, 168, 24);
  border-radius: 10px;
  color: #fff;
  text-transform: uppercase;
  font-synthesis-weight: auto;
  text-align: center;
  user-select: none;


}

.counter__btn_plus {
  display: inline-block;
  width: 40px;
  height: 25px;
  border: none;
  background: rgb(248, 168, 24);
  border-radius: 10px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 800;
  font-synthesis-weight: auto;
  text-align: center;
  user-select: none;
}

.counter__input {
  flex: 0 0 50px;
}

input {
  user-select: none;
  width: 50%;
  height: 50%;
  background-color: #000010;
  text-align: center;
  color: white;
  font-weight: bold;
  padding-left: 10px;
}

.counter__btn_minus:hover {
  background: red;
}

.counter__btn_plus:hover {
  background: forestgreen;
}

/*
var(--tg-theme-bg-color)
var(--tg-theme-text-color)
var(--tg-theme-hint-color)
var(--tg-theme-link-color)
var(--tg-theme-button-color)
var(--tg-theme-button-text-color)
*/
