body {
  display: flex;
  margin: 0;
  padding: 0;
  font-size: 18px;
  color: #ffffff;
  background: #000010;
}

.container {
  max-width: 390px;
}

.inner {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 200px 200px 200px;
}

.img {
  width: 90px;
}

.item {
  text-align: center;
}

.btn {
  display: inline-block;
  padding: 10px 20px;
  border: none;
  background: rgb(248, 168, 24);
  border-radius: 10px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 800;

  transition: background .2s linear;
}

.btn:hover {
  background: lightgreen;
}

.usercard {
  text-align: center;
}

.counter {
  display: inline-flex;
  align-items: center}

  .__btn_minus {
    flex: 0 0 30px;
    height: 30px;
    border: 1px solid #000;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }


  .__btn_plus {
    flex: 0 0 30px;
    height: 30%;
    border: 10px solid #000;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
  }

  .__input {
    flex: 0 0 30px;}
    input {
      width: 50%;
      height: 50%;
      background-color: #000010;
      text-align: center;
      color: white;
      font-weight: bold;
    }

/*
var(--tg-theme-bg-color)
var(--tg-theme-text-color)
var(--tg-theme-hint-color)
var(--tg-theme-link-color)
var(--tg-theme-button-color)
var(--tg-theme-button-text-color)
*/
