body {
  margin: 0;
  padding: 0;
  font-size: 18px;
  color: #000010;
  background: #1E1E1E;
  user-select: none;
}

.container {
  max-width: 390px;
}

.inner {
  user-select: none;
  display: flex;
  padding-left: 20px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 200px 200px 200px;
}

.img {
  padding-left: 5px;
  width: 120px;
  user-select: none;
  top: 250px;

}

.img_coffee {
  position: absolute;
  width: 96px;
  height: 111px;
  left: 70px;
}

.img_tea {
  position: absolute;
  width: 96px;
  height: 111px;
  left: 240px;
}

.btn {
  display: flex;
  padding: 7px 25px;
  border: none;
  background: rgb(248, 168, 24);
  border-radius: 10px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 700;
  transition: background .2s linear;
  user-select: none;
  position: absolute;
  left: 66px;
  top: 400px;
}


.btn_2 {
  left: 233px;
}


.btn:hover {
  background: #4169E1;
}

.size {
  display: flex;
  padding: 6px 13px;
  border: none;
  border-radius: 10px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 700;
  transition: background .2s linear;
  user-select: none;
  position: absolute;
  width: 35px;
  height: 25px;
  top: 370px;
  background: #FFD7D7;
}

.size:hover{
  background: #4169E1;
}

.size_c_s {
  left: 66px;
}

.size_c_m {
  left: 106px;
}

.size_c_l{
  left: 146px;
}

.size_t_s {
  left: 233px;
}

.size_t_m {
  left: 277px;
}

.size_t_l {
  left: 317px;
}

.img_logo{
  position: absolute;
  width: 213px;
  height: 75px;
  left: 108px;
  top: 25px;

  mix-blend-mode: normal;
  backdrop-filter: blur(2px);
  /* Note: backdrop-filter has minimal browser support */
  border-radius: 10px;
}


/*
var(--tg-theme-bg-color)
var(--tg-theme-text-color)
var(--tg-theme-hint-color)
var(--tg-theme-link-color)
var(--tg-theme-button-color)
var(--tg-theme-button-text-color)
*/
